# Django settings
SECRET_KEY=change-me-to-a-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=ege_platform
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# UGC service (Flask)
JWT_SECRET=change-me-same-as-django-secret-for-dev
DJANGO_BASE_URL=http://localhost:8000
UGC_BASE_URL=http://localhost:8001
UGC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/ugc_db
